.home {
  /* background: rgb(255,255,255); */
  /* background: linear-gradient(29deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 21%, rgba(177,177,182,1) 79%, rgba(127,127,135,1) 100%);kground: linear-gradient(225deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 21%, rgba(177,177,182,1) 56%, rgba(127,127,135,1) 100%); */

  /* height: 100vh; */
  display                  : flex;
  flex-direction: column;
  align-items: center;
  /* justify-items: center; */
  /* flex-wrap             : wrap; */
  background-color: deepskyblue;
  width: 100vw;
  /* background-image         : url(countrieswhite.png); */

  /* background-size          : 150vh; */
  /* transition            : 0.8s; */
  /* z-index               :inherit; */
}

.botonFilter {
  position: fixed;
  top: 3vh;
  right: 1vw;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9600;
  filter: drop-shadow(1px 1px 3px white);

  
}
.botonFilter:hover {
  /* color: white; */
  filter: drop-shadow(0px 0px 6px deepskyblue);

}
.botonFilter:active {
  color: darkgray;

}
.disabledButtom {
  transform: rotate(-180deg);
}

.cardsPag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column: 2/3;
  /* background-color: red; */
  width: 100%;
  /* height: 100%; */
  margin: 0;
  
}

/* .img{
    height: 100%;
    width:  100%;
   position: absolute;
   z-index: -1;
   background-attachment:fixed;
} */

h2 {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  color: deepskyblue;
  letter-spacing: 0.3rem;
  border-radius: 5px;
  padding: 2rem 1rem;
  width: 60%;
}

@media screen and (min-width: 1000px) {
  .home {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;


  
  }



  .botonFilter{
      display: none;
  }
}
