.box {
    background-color   : black;
    color              : white;
    /* background      : rgb(127, 127, 135); */
    /* background      : linear-gradient(90deg, rgba(127, 127, 135, 1) 4%, rgba(245, 245, 246, 1) 34%, rgba(255, 255, 255, 1) 71%, rgba(127, 127, 135, 1) 100%); */




    width                       : 100vw;
    height                      : 100vh;
    /* margin                   : 15px 20px 0px 20px; */
    display                     : flex;
    /* justify-content          : center; */
    /* flex-direction           : center; */
    box-shadow                  : 0px 0px 10px black;
    /* z-index                  : 100; */
    position                    : absolute;
    /* top                      : 9vh; */
    /* left                     : 16vw */
    z-index                     : 1001;

}

.boxText {
    width         : 50%;
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    padding       : 0 0 0 2vw
}

.boxImg {
    width: 50%;

    display        : flex;
    justify-content: center;
    align-items    : center;

}







.flags {
    /* position: absolute; */
    left      : 0vw;
    width     : 100%;
    margin    : 2em;
    box-shadow: 0px 0px 10px white;
    transition: 0.2s;
}

.flags:hover {
    margin: 1em;

}


h1 {
    margin: 2vh 0 0vh 0
}

.barrita {
    height             : 2px;
    width              : 9vw;
    /* background-color: black; */

    /* background: rgb(67, 180, 58);*/
    background: linear-gradient(90deg, rgba(67, 180, 58, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(72, 69, 252, 1) 100%);


    /* position     : relative; */
    /* left         : 20.4vw; */
    /* top          : -3.5vh; */
    /* transition: 4s; */
}

.namePais {
    font-size: 3rem;
}


.titulos {
    margin   : 3vh 0 0vh 0;
    font-size: 1.3rem;
}

.infor {
    margin   : 0vh 0 2vh 0;
    font-size: 1.5rem;

}

.infor2 {
    margin   : 0vh 0 2vh 0;
    font-size: 1rem;

}



.boton {
    /* box-shadow:inset 0px 1px 0px 0px #54a3f7; */
    /* background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%); */
    background-color: #007dc100;
    border-radius   : 3px;
    border          : 1px solid #124d7700;
    display         : inline-block;
    cursor          : pointer;
    color           : rgb(6, 122, 230);
    ;
    font-family       : Arial;
    font-size         : 1.5em;
    /* padding        : 6px 24px; */
    text-decoration   : none;
    text-shadow       : 0px 1px 0px #154682;
    position          : relative;
    top               : 7vh;
    left              : 5vw;
    transition        : 0.2s;
}

.boton:hover {
    color              : rgb(4, 77, 145);
    /* text-shadow     : 0px 0px 20px white; */
    /* background      :linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%); */
    /* background-color:#f6f6f6; */
}

.boton:active {
    /* position: relative; */
    /* top     : 1px; */
}



.loadingBox {
    color           : white;
    background-color: black;
    height          : 100vh;
    width           : 100vw;
}