// Colors
$main-color     : #3884FE;
$secundary-color:#146eff;
$white          : #ffffff;
$gray           : #828282;
$lightgray      : #b1b1b1;
$darkgray       : #4d4d4d;
$black          : #000000;

// Font family
$titles-font: 'Roboto',
sans-serif;
$content-font: 'Raleway',
sans-serif;

// Font weight
$light-font  : 300;
$regular-font: 400;
$medium-font : 500;
$bold-font   : 700;

// Media queries for responsive design
$tablet-width  : 768px;
$notebook-width: 1024px;
$desktop-width : 1440px;